<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/project.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!--<div>-->
<!--<div class="container">-->

<!--    &lt;!&ndash;<section class="jumbotron text-center">&ndash;&gt;-->
<!--        &lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--            &lt;!&ndash;<h1 class="jumbotron-heading">Album example</h1>&ndash;&gt;-->
<!--            &lt;!&ndash;<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>&ndash;&gt;-->
<!--            &lt;!&ndash;<p>&ndash;&gt;-->
<!--                &lt;!&ndash;<a href="#" class="btn btn-primary my-2">Main call to action</a>&ndash;&gt;-->
<!--                &lt;!&ndash;<a href="#" class="btn btn-secondary my-2">Secondary action</a>&ndash;&gt;-->
<!--            &lt;!&ndash;</p>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--    &lt;!&ndash;</section>&ndash;&gt;-->

<!--    <div class="row">-->
<!--        <div class="col-md-3">-->
<!--            <div class="profile-sidebar">-->
<!--                &lt;!&ndash; SIDEBAR USERPIC &ndash;&gt;-->
<!--                <div class="profile-userpic">-->
<!--                    <img src="../image/no-avatar.png" class="center" alt="">-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIDEBAR USERPIC &ndash;&gt;-->
<!--                &lt;!&ndash; SIDEBAR USER TITLE &ndash;&gt;-->
<!--                <div class="profile-usertitle">-->
<!--                    <div class="profile-usertitle-name">-->
<!--                        Имя Фамилия-->
<!--                    </div>-->
<!--                    <div class="profile-usertitle-job">-->
<!--                        Роль-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIDEBAR USER TITLE &ndash;&gt;-->

<!--                &lt;!&ndash; SIDEBAR MENU &ndash;&gt;-->
<!--                <div class="profile-usermenu">-->
<!--                    <ul class="nav">-->
<!--                        <li class="active">-->
<!--                            <a href="#">-->
<!--                                <i class="glyphicon glyphicon-home"></i>-->
<!--                                Overview </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <i class="glyphicon glyphicon-user"></i>-->
<!--                                Редактировать </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#" target="_blank">-->
<!--                                <i class="glyphicon glyphicon-ok"></i>-->
<!--                                Tasks </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <i class="glyphicon glyphicon-flag"></i>-->
<!--                                Help </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash; END MENU &ndash;&gt;-->
<!--                &lt;!&ndash; SIDEBAR BUTTONS &ndash;&gt;-->
<!--                <div class="profile-userbuttons">-->
<!--                    <button type="button" class="btn btn-primary btn-block mx-auto">Загрузить проект</button>-->
<!--                </div>-->
<!--                &lt;!&ndash; END SIDEBAR BUTTONS &ndash;&gt;-->


<!--            </div>-->
<!--        </div>-->


<!--<div class="col-md-9">-->
<body>
<hr>
<div class="container bootstrap snippet" style="margin: 70px;">
    <!--    <div class="row">-->
    <!--        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>-->
    <!--    </div>-->
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Имя Фамилия
                    </div>
                    <div class="profile-usertitle-job">
                        Роль
                    </div>
                </div>
            </div></hr><br>



            <!--                <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>-->
            <!--            </div>-->

            <div class="panel panel-default">
                <div class="panel-heading">Настройки <i class="fa fa-link fa-1x"></i></div>
                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Загруженные проекты</strong></span> 6</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Подписки</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Подписчики</strong></span> 13</li>
                    <li class="list-group-item text-left"><a href="editProfilePage.html>"><span class="pull-left"><strong>Настройки</strong></span></a></li>
                </ul>
            </div>


        </div><!--/col-3-->

        <div class="col-sm-9">
            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>