<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Просмотр</title>
    <link href="/css/task.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<div class="album py-5 bg-light" style="padding:0 !important;">
        <header class="blog-header">
            <div class="navbar navbar-dark shadow-sm" style="padding:0 !important;">
                <div class="col-4 pt-1">
                    <a href="#" class="navbar-brand">
                        <!--Кнопка Назад-->
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="50" height="50"
                             viewBox="0 0 192 192"
                             style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,192v-192h192v192z"
                                      fill="none"></path>
                                <g fill="#6c757d">
                                    <g id="surface1">
                                        <path d="M76.08,50.28c-0.84,0.15 -1.59,0.57 -2.16,1.2l-41.88,41.76l-2.64,2.76l2.64,2.76l41.88,41.76c0.93,1.14 2.415,1.665 3.855,1.335c1.425,-0.33 2.55,-1.455 2.88,-2.88c0.33,-1.44 -0.195,-2.925 -1.335,-3.855l-35.28,-35.28h113.4c1.38,0.015 2.67,-0.705 3.375,-1.905c0.69,-1.2 0.69,-2.67 0,-3.87c-0.705,-1.2 -1.995,-1.92 -3.375,-1.905h-113.4l35.28,-35.28c1.245,-1.155 1.575,-2.985 0.825,-4.5c-0.735,-1.53 -2.4,-2.37 -4.065,-2.1z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <!-- -->
                    </a>
                </div>

                <strong class="navbar-brand d-flex align-items-center" style="color:#6c757d;">Название
                    проекта</strong>

                <div class="col-4 d-flex justify-content-end align-items-center"></div>
            </div>

        </header>

        <div class="card-body">
            <div class="tabs">
                <!--            Tab (сколько файлов - столько табов, для каждого свой section со своим id-ником content-tabN)    -->
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" title="Вкладка 1">Вкладка 1</label>
                <!-- -->
                <!--                <input id="tab2" type="radio" name="tabs">-->
                <!--                <label for="tab2" title="Вкладка 2">Вкладка 2</label>-->

                <section id="content-tab1">
                    <div class="w3-code notranslate htmlHigh" style=" width:100%; height: calc(100vh - 30%); border-left: none !important; ">
                    <textarea>

                    </textarea>
                        <button style="width: 30px;height: 30px;" title="Проверить"><i class="fas fa-play" style="color: #173d7b; size: 30px"></i></button>
                    </div>
                </section>
            </div>
            <div class="container" style="background-color: black; height: 20vh; margin:10px 20px 0 20px; max-width: 97% !important;">
                <p>Вывод</p>
            </div>
        </div>
    </div>


</body>
</html>