<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form method="post" class="form-signin">
    <h1 class="h1_project" style="color: #1125a2; text-align: center; margin: 25px;">
        ВХОД
    </h1>
    <div class="form-label-group">
        <input id="inputEmail" name="username" placeholder="Логин" class="feedback_input" required autofocus>
        <label for="inputEmail">Логин</label>
    </div>
    <div class="form-label-group">
    <input id="inputPassword" type="password" name="pass" placeholder="Пароль" class="feedback_input" required>
        <label for="inputPassword">Пароль</label>
    </div>
    <!--<div class="checkbox mb-3">-->
        <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Запомнить меня-->
        <!--</label>-->
    <!--</div>-->
    <input type="submit" onclick="return validate(this.form)"  value="ВОЙТИ" class="btn btn-primary btn-block mx-auto">
</form>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>